.navbar-nav{
  @media (max-width: $screen-xs-max){
    .right{
      .separador{
        visibility: hidden;
      }
    }

  }

  @media (min-width: $screen-sm-min) and  (max-width: $screen-sm-max){
    .right{
      left: 28%;
      transition: left 1s;
      .separador{
        font-size: 30px;
        font-weight: bold;
        color: grey;
      }
    }

  }

  @media (min-width: $screen-md-min) and  (max-width: $screen-md-max){
    .right{
      left: 76%;
      transition: left 1s;
      .separador{
        font-size: 30px;
        font-weight: bold;
        color: grey;
      }
    }

  }

  @media (min-width: $screen-lg-min){
    .right{
      left: 127%;
      .separador{
        font-size: 30px;
        font-weight: bold;
        color: grey;
      }
    }

  }
}