.navbar-nav{
  .search{
    margin: 12px;
    border-radius:5%;
    border: 2px solid grey;
  }
  @media (max-width: $screen-xs-max){
    .right{
      .separador{
        visibility: hidden;
      }
    }

  }

  @media (min-width: $screen-sm-min) and  (max-width: $screen-sm-max){
    .right{
      left: 28%;
      transition: left 1s;
      .separador{
        font-size: 30px;
        font-weight: bold;
        color: grey;
      }
    }

  }

  @media (min-width: $screen-md-min) and  (max-width: $screen-md-max){
    .right{
      left: 68%;
      transition: left 1s;
      .separador{
        font-size: 30px;
        font-weight: bold;
        color: grey;
      }
    }

  }

  @media (min-width: $screen-lg-min){
    .right{
      left: 115%;
      .separador{
        font-size: 30px;
        font-weight: bold;
        color: grey;
      }
    }

  }
}